table, th, td {
	/*border: 1px solid;
	border-color: black;*/
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

#room {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	min-width: 900px;
	min-height: 560px;
	background: url("/images/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#roomTable {
	height: 100%;
	width: 100%;
}

#gameTableContainer {
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-align: center;
	min-width: 600px;
}

#gameTable {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.rightTop {
	text-align: right;
	vertical-align: top;
}

.rightBottom {
	text-align: right;
	vertical-align: bottom;
}

#status {
	background-color: transparent;
	color: white;
	font-family: Verdana, sans-serif;
	font-size: medium;
	font-weight: bold;
	text-align: center;
}

#boardContainer {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
	min-width: 200px;
}

#boardTable {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.boardTableRow {
	
}

.logWindow {
	position: relative;
	top: 0px;
	border-spacing: 0;
	background-color: white;
	vertical-align: bottom;
	text-align: right;
	height: 195px;
	width: 100%;
}

.header {
	background-color: black;
	color: white;
	width: 100%;
	height: 19px;
	font-family: Verdana, sans-serif;
	font-size: small;
	font-weight: bold;
	text-align: left;
	padding-top: 2px;
}

.log {
	color: black;
	width: 100%;
	height: 170px;
	overflow-y: auto;
	font-family: Verdana, sans-serif;
	font-size: small;
	word-wrap: break-word;
}

#chatLog {
	color: black;
	width: 100%;
	height: 170px;
	overflow-y: auto;
	font-family: Verdana, sans-serif;
	font-size: small;
}

.list {
	list-style-type: none;
	padding: 1px;
	margin: 1px;
	text-align: left;
}

#chatText {
	width: 100%;
	height: 20px;
}

#txtChat {
	width: 99%;
	text-align: left;
}

.pos {
	width: 100%;
	height: 100%;
	visibility: visible;
	max-height: 80px;
	max-width: 200px;
	margin: auto;
}

.neutral {
	background-color: aqua;
}

.bidder {
	background-color: #ffff77;
}

.partner {
	background-color: #ffff77;
}

.opponent {
	background-color: #ff7777;
}

.turn {
	box-shadow: 0 0 0 5px green;
}

#cardMat {
	text-align: center;
	height: 100%;
}

#tablePoints {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	color: white;
	background-color: rgba(0,0,0,0);
	border: 1px solid;
	border-color: transparent;
	border-radius: 3px;
	width: 20px;
	font-family: Verdana, sans-serif;
	font-size: 14;
}

#myHand {
	height: 100%;
	margin-left: 25px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border-spacing: 0;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.handCard {
	height: 100px;
	width: 69px;
	float: left;
	margin-left: -25px;
	border: 1px solid;
	border-color: black;
	border-radius: 5px;
	background-size: contain;
	background-repeat: no-repeat;
}

.tableCard {
	position: absolute;
	height: 100px;
	width: 69px;
	float: left;
	border: 1px solid;
	border-color: black;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100px;
}

.unplayable:after {
	content: "";
	display: block;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.playable {
	
}

.highestCard {
	box-shadow: 0 0 0 2px #ff0;
	border-radius: 5px;
}

.inactive {
	background-color: aqua;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.divName {
	text-align: center;
	width: 150px;
	float: left;
	margin-left: 25px;
}

.nameContainer {
	font-family: Verdana, sans-serif;
	font-size: medium;
	font-weight: bold;
	height: 20px;
	border-bottom: 1px solid;
	border-bottom-color: black;
}

.pointCardsContainer {
	padding: 0;
	margin-left: 25px;
	z-index: 50;
	height: 60px;
	
}

.tblPoints {
	width: 100%;
	height: 100%;
	border-spacing: 0;
}

.tblRow {
	height: 83px;
}

.points {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: right;
	float: right;
	margin-right: 3px;
	margin-top: 3px;
}

.bid {
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 40px;
}

.suit {
	font-family: Verdana, sans-serif;
	font-size: 22px;
	text-align: right;
}

td.top {
	border-top: 1px solid;
	border-top-color: black;
	border-bottom: 1px solid;
	border-bottom-color: black;
}

td.right {
	border-left: 1px solid;
	border-left-color: black;
	color: red;
}

.button {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 2px;
	padding: 2px 2px;
}

.green {
	border: solid 1px #3b7200;
	background-color: #88c72a;
	color: black;
	padding: 5px 10px;
	margin: 5px 5px;
	border-radius: 10px;
	background: -moz-linear-gradient(top, #88c72a 0%, #709e0e 100%);
	background: -webkit-linear-gradient(top, #88c72a 0%, #709e0e 100%);
	background: -o-linear-gradient(top, #88c72a 0%, #709e0e 100%);
	background: -ms-linear-gradient(top, #88c72a 0%, #709e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709e0e',
		endColorstr='#709e0e', GradientType=0);
	background: linear-gradient(top, #88c72a 0%, #709e0e 100%);
	-webkit-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
	-moz-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
	box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
}

.red {
	border: solid 1px #720000;
	background-color: #c72a2a;
	margin-right: 2px;
	background: -moz-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	background: -webkit-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	background: -o-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	background: -ms-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0e0e',
		endColorstr='#9e0e0e', GradientType=0);
	background: linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	-webkit-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
	-moz-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
	box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
}

#bidControl {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 10px 10px;
	margin: 10px;
	border-radius: 10px;
	border: solid 1px #ffffff;
}

#bidControl2 {
	max-height: 170px;
	overflow-y: auto;
}

.bidButton {
	width: 50px;
	font-weight: bold;
}

#bidSpecContainer {
	positive: relative;
}

#bidSpecSelector {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	background: rgba(0, 0, 0, 1);
	color: white;
	padding: 10px 10px;
	border-radius: 10px;
	border: solid 1px #ffffff;
	position: absolute;
	margin-top: 26px;
	margin-left: 60px;
	width: 760px;
	height: 435px;
	z-index: 100;
}

#bidValue {
	float: right;
	background-color: white;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid;
	border-left-color: white;
	border-radius: 5px;
	padding: 3px 3px;
	margin-right: 5px;
}

#doneBtn {
	float: left;
	margin-left: 10px;
	margin-top: -20px;
	height: 18px;
}

.bidTable {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 7px;
}

.partnerCell {
	width: 89%;
	padding-right: 5px;
}

.trumpCell {
	padding-left: 5px;
	border-left: 1px solid;
	border-left-color: white;
}

img.pointCard {
	height: 50px;
	margin-left: -20px;
	border: 1px solid;
	border-color: black;
	border-radius: 2px;
	border: 1px solid;
	float: left;
	margin-top: 4px;
}

img.spec {
	height: 60px;
	border: 1px solid;
	border-color: black;
	border-radius: 2px;
}

img.cardSpec {
	height: 80px;
	border: 1px solid;
	border-color: black;
	border-radius: 4px;
	padding: 2px 2px;
}

img.suitSpec {
	height: 80px;
	border: 1px solid;
	border-color: black;
	border-radius: 4px;
	padding: 2px 2px;
}

img.unselected {
	opacity: 0.5;
}

img.selected {
	padding: 0px 0px;
	border: 3px solid;
	border-color: green;
	border-radius: 5px;
}

.bidSpec {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	border: 1px solid;
	border-color: white;
	border-radius: 5px;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	height: 100%;
	max-height: 80px;
	max-width: 200px;
	margin: auto;
}

#partnerTrump {
	border-top: 1px solid;
	border-top-color: white;
	font-size: 40px;
	font-weight: normal;
	vertical-align: top;
}

#bidTarget {
	border-top: 1px solid;
	border-top-color: white;
	font-size: 40px;
	font-weight: normal;
}