<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>game.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>TokenServlet</servlet-name>
		<servlet-class>com.bq.connection.TokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TokenServlet</servlet-name>
		<url-pattern>/getToken</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConnectedServlet</servlet-name>
		<servlet-class>com.bq.connection.ConnectedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectedServlet</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DisconnectedServlet</servlet-name>
		<servlet-class>com.bq.connection.DisconnectedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisconnectedServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Game</servlet-name>
		<jsp-file>/game.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Game</servlet-name>
		<url-pattern>/game</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DealServlet</servlet-name>
		<servlet-class>com.bq.connection.DealServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealServlet</servlet-name>
		<url-pattern>/deal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BidServlet</servlet-name>
		<servlet-class>com.bq.connection.BidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BidServlet</servlet-name>
		<url-pattern>/bid</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BidSpecServlet</servlet-name>
		<servlet-class>com.bq.connection.BidSpecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BidSpecServlet</servlet-name>
		<url-pattern>/spec</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlayServlet</servlet-name>
		<servlet-class>com.bq.connection.PlayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlayServlet</servlet-name>
		<url-pattern>/play</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EndServlet</servlet-name>
		<servlet-class>com.bq.connection.EndServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EndServlet</servlet-name>
		<url-pattern>/end</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitServlet</servlet-name>
		<servlet-class>com.bq.connection.ExitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitServlet</servlet-name>
		<url-pattern>/exit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScoreboardServlet</servlet-name>
		<servlet-class>com.bq.connection.ScoreboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreboardServlet</servlet-name>
		<url-pattern>/scoreboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>History</servlet-name>
		<jsp-file>/history.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatServlet</servlet-name>
		<servlet-class>com.bq.connection.ChatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatServlet</servlet-name>
		<url-pattern>/chat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.bq.connection.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
</web-app>
